@{
    ViewData["Title"] = "Home Page";
}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <div class="text-center">
        <h2>@ViewBag.GUID</h2>
    </div>
    <form asp-action="AddMessage" asp-controller="Home" data-ajax-method="POST" data-ajax="true" data-ajax-update="#result">
            <input class="form-text" type="text" name="message" />
            <button class="btn btn-primary" type="submit" id="addmessage">Добавить сообщение</button>
    </form>
    <form asp-action="GetMessages" asp-controller="Home" data-ajax-method="POST" data-ajax="true" data-ajax-update="#result">
            <button class="btn btn-primary" type="submit" id="btnAll" name="submitbutton" value="all">Вывести все сообщения</button>
            <button class="btn btn-primary" type="submit" id="btnUser" name="submitbutton" value="user">Вывести ваши сообщения</button>
    </form>
    <div id="result">

    </div>
<!--    важные/с согласия куки
        ajax не работает, через js мб

        КОСЯКИ: не добавляется автоматические подключение ajax.js , data-* на тип запроса и обновление контейнера неправильные
    </form>
   Js функции. надо передавать инфу о кнопке еще
-->